@import 'SCSS/abstract';

.slide-switch__choice {
  width: 100%;
  border: 1px solid color(gray);
  border-radius: 0.25rem;

  position: relative;

  display: flex;

  &__button {
    flex: 1;
    padding-block: 0.75rem;

    font-size: font-size(md);
    font-weight: font-weight(bold);

    @include transition();

    color: color(gray);

    &.selected {
      color: color(white);
    }
  }

  &__slide-select {
    position: absolute;

    background-color: color(secondary);
    border-radius: 0.25rem;

    height: 100%;

    @include transition();
  }
}
